body,
html {
  width: 100%;
  height: 100vh;
}

#content {
  display: flex;
  height: 100%;
}

#controls-container {
  background-color: gray;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#controls-container #permanent-categories,
#controls-container #projects-tab-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}
#controls-container #permanent-categories button,
#controls-container #projects-tab-container button {
  border-radius: 50px;
  border: none;
  padding: 4px;
  margin: 5px 0px;
  cursor: pointer;
}
#controls-container #projects-tab-container div {
  display: flex;
}
#controls-container #projects-tab-container div :first-child {
  flex: 1;
}
#controls-container #projects-tab-container button {
  border-radius: 50px 0 0 50px;
}
#controls-container #projects-tab-container .remove-project-btn {
  font-weight: 700;
  font-size: 1.5em;
  padding: 0px 7%;
  background-color: red;
  border-radius: 0 50px 50px 0;
}

#project-container {
  width: 100%;
}
#project-container .tasks-container :first-child {
  position: relative;
}
#project-container .tasks-container > * {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: fit-content;
}
#project-container .tasks-container > * .task-checkbox-container {
  width: fit-content;
  height: 40px;
  background-color: green;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 50px 0 0 50px;
}
#project-container .tasks-container > * .task-checkbox-container :first-child {
  height: 15px;
  width: 15px;
  margin: auto 8px auto 20px;
  border-radius: 50%;
}
#project-container .tasks-container > * .task-title-container {
  flex: 1;
  display: flex;
}
#project-container .tasks-container > * .task-title-container :first-child {
  margin: auto 0;
  padding-left: 5px;
}
#project-container .tasks-container > * .task-due-date-container {
  display: flex;
}
#project-container .tasks-container > * .task-due-date-container :first-child {
  margin: auto 8px auto 8px;
}
#project-container .tasks-container > * .task-edit-btn,
#project-container .tasks-container > * .task-remove-btn {
  background-color: #f3f3a7;
  font-weight: 700;
  font-size: 1.5em;
  border: none;
  line-height: 0;
  cursor: pointer;
}
#project-container .tasks-container > * .task-remove-btn {
  background-color: red;
  font-size: 2.5em;
  border-radius: 0px 50px 50px 0px;
  height: 40px;
}

body form {
  display: grid;
}

#new-task-form {
  background-color: #6790be;
  border-radius: 10px;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-column-gap: 10px;
  grid-template-areas: "header header" "title ." "desc date" "desc project" "desc priority" "desc btn";
}
#new-task-form h2 {
  grid-area: header;
  margin: 0;
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 20px;
}
#new-task-form .title-input {
  grid-area: title;
  padding-bottom: 10px;
  display: flex;
}
#new-task-form .title-input input {
  margin-left: 5px;
  flex: 1;
}
#new-task-form .description-input {
  grid-area: desc;
}
#new-task-form .due-date-input {
  grid-area: date;
}
#new-task-form .project-select {
  grid-area: project;
}
#new-task-form .priority-select {
  grid-area: priority;
}
#new-task-form button {
  grid-area: btn;
  width: fit-content;
  height: fit-content;
  justify-self: center;
  align-self: center;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
}

.high {
  background-color: #fc9d9a;
}

.moderate {
  background-color: #edcea1;
}

.completed {
  text-decoration: line-through;
}

/*# sourceMappingURL=style.css.map */
